.title {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.title h1 {
  margin-top: 5px;
  margin-bottom: 0px;
  color: var(grey-d);
}

.title p {
  margin-top: 5px;
  color: var(--grey-m);
  font-size: 14px;
}

.logo {
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
