.title {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.title h1 {
  margin-top: 5px;
  margin-bottom: 0px;
  color: #404040;
}

.title p {
  margin-top: 5px;
  color: #8c8c8c;
  font-size: 14px;
}

.logo {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
