<div class="card">
    <a [routerLink]="['/character-detail',character.id]" id="characterDetails">
        <img class="configImg" [src]="character.thumbnail.path+'.'+character.thumbnail.extension" [alt]="character.name">
    </a>
    <div class="card__container">

        <div class="row">

            <div class="col">
                <h4><b>{{character.name}}</b></h4>
            </div>
            <div class="col card__heart">
                <img class="card__heart--fav" src="assets/icon/heart.svg" alt="Heart Icon"
                    (click)="favorite(character.id)"
                    [ngClass]="{'card__heart--fav-fill': isFavorite || checkIsFavorite(character.id)}">
            </div>

        </div>

    </div>
</div>