/* You can add global styles to this file, and also import other style files */

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: calc(var(1.5rem) * 0.5);
  padding-left: calc(var(1.5rem) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.img-align-center {
  margin-right: auto;
  margin-left: auto;
  display: block
}
