.search-size {
  margin-top: 30px;
  height: 45px;
}

.section {
  margin-top: 70px;
}
.section__panel {
  padding-left: 10px;
  padding-bottom: 20px;
  font-family: var(--font-work-sans);
}

.section__panel__item {
  display: flex;
  align-items: center;
}

.section__panel__item--found {
  color: var(--grey-m);
}

.section__panel__item--btn-toggle {
  padding-left: 15px;
  padding-right: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.section__panel__item--btn-toggle:disabled img {
  opacity: 0.5;
  pointer-events: none;
}

.section__panel__item--option {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  color: var(--red);
}
